body{
    background-image: url('assets/image\ 1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}




/* Styles for phones and tablets */
@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
  .container {
    width: 100%;
    flex-direction: column; /* Stack elements vertically on mobile */
  }
}


